@model ConseilApp.Models.Recherche.RechercheModel
@using ConseilApp.Helpers

@if (Model.premiereListe.apteConseil != null)
{
    <table class="table table-striped table-bordered table-hover" data-validemessage="Accepter l&#146;aide de ">
        <thead>
            <tr>
                <td>Pseudo</td>
                <td>Nb demande reçu</td>
                <td>Nb proposition faite</td>
                <td>:) / :(</td>
                <td>Nb photo habillé</td>
                <td>Genre</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.premiereListe.apteConseil)
            {
                <tr class="row-Modal habillage" data-identifier="@i.id" data-pseudo="@i.pseudo" data-type="d1">
                    <!-- Conseillers qui peuvent aider -->
                    @*<td>@Html.LinkButtonForModal("recherche", i.pseudo, false)</td>*@
                    <td>@i.pseudo</td>
                    <td>@i.nbDemande</td>
                    <td>@i.nbProposition</td>
                    <td>@i.note</td>
                    <td>@i.nbPhotoHabille</td>
                    <td>@i.genre</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.premiereListe.attenteConseil != null)
{
    <table class="table table-striped table-bordered table-hover" data-validemessage="Proposez votre aide &#224 ">
        <thead>
            <tr>
                <td>Pseudo</td>
                <td>Nb photo vêtement</td>
                <td>Nb photo habillé</td>
                <td>Genre</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.premiereListe.attenteConseil)
            {
                <tr class="row-Modal vetement" data-identifier="@i.id" data-pseudo="@i.pseudo" data-type="p1">
                    <!-- Abonnés en attente de conseil -->
                    <td>@Html.LinkButtonForModal("recherche", i.pseudo, false)</td>
                    <td>@i.nbPhotoVetement</td>
                    <td>@i.nbPhotoHabille</td>
                    <td>@i.genre</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{ <text>Aucune information !</text> }
<div id="modalPopup"></div>
