@model ConseilApp.Models.Recherche.RechercheModel

@if (Model.deuxiemeListe.proposeAide != null)
{
    <table class="table table-striped table-bordered table-hover" data-validemessage="Acceptez la proposition de ">
        <thead>
            <tr>
                <td>Pseudo</td>
                <td>Nb photo habillé</td>
                <td>Nb aide proposé</td>
                <td>Nb habillage proposé</td>
                <td>:) / :(</td>
                <td>Genre</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.deuxiemeListe.proposeAide)
            {
                <tr class="row-Modal habillage" data-identifier="@i.id" data-pseudo="@i.pseudo" data-type="d2" data-conseil="@i.conseilId">
                    <!-- Conseillers qui proposent leur aider -->
                    <td>@i.pseudo</td>
                    <td>@i.nbPhotoHabille</td>
                    <td>@i.nbAide</td>
                    <td>@i.nbHabPropose</td>
                    <td>@i.note</td>
                    <td>@i.genre</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.deuxiemeListe.solliciteAide != null)
{
    <table class="table table-striped table-bordered table-hover" data-validemessage="Acceptez la demande de ">
        <thead>
            <tr>
                <td>Pseudo</td>
                <td>Nb photo vêtement</td>
                <td>Nb photo habillé</td>
                <td>Genre</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.deuxiemeListe.solliciteAide)
            {
                <tr class="row-Modal vetement" data-identifier="@i.id" data-pseudo="@i.pseudo" data-type="p2" data-conseil="@i.conseilId">
                    <!-- Abbonnés qui sollicitent de l'aide -->
                    <td>@i.pseudo</td>
                    <td>@i.nbPhotoVetement</td>
                    <td>@i.nbPhotoHabille</td>
                    <td>@i.genre</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{ <text>Aucune information !</text> }