@model ConseilApp.Models.Recherche.RechercheModel
@using ConseilApp.Helpers
@{
    Layout = "~/Views/Shared/_master.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div class="container-fluid">
    <div class="row-fluid" id="Attente">
        <h3>Les abonnées qui peuvent vous aidés</h3>
        @{Html.RenderPartial("_ListeEnAttente", Model.premiereListe);}
    </div>
    <div class="row-fluid" id="Soutien">
        <h3>Les abonnées qui vous proposent leur aide</h3>
        @{Html.RenderPartial("_ListeEnSoutien", Model.deuxiemeListe);}
    </div>
</div>

<input type="hidden" id="hdIdentifier" value="" />

@section Scripts {
    @Styles.Render("~/Content/SlideCss")
    @Scripts.Render("~/bundles/CarouselJs")

<script type="text/javascript">
    $(function () {

        $('tr.row-Modal').click(function (event) {
            var modalPopup = '@Html.ModalShow("recherche", "Visualiser les photos habillées", "test", true)';
            
            // récupère l'id de la personne, le pseudo et le texte pour le bouton de validation
            var id = $(this).attr('data-identifier');
            var pseudo = $(this).attr('data-pseudo');
            var btnText = $(this).parents('table').attr('data-validemessage') + pseudo;

            if (id != undefined) {
                $('#hdIdentifier').val(id);

                var url = '@Url.Action("AffichePhotosHabillage", "Upload")';
                var jqxhr = $.ajax({
                    url: url,
                    cache: true,
                    type: 'GET',
                    data: { style: '', personne: id }
                })
                .success(function (data) {
                    if (data != "\r\n") {
                        // Charge le code HTML de la popup modal dans la div
                        $('#modalPopup').html(modalPopup);

                        // IMPORTANT : permet d'agrandir la popup
                        $('#recherche').css("width", "697px");

                        $('#recherche div.modal-body').html(data);

                        // Complète le titre de la popup
                        var title = $('#recherche div.modal-header #myModalLabel').html();
                        $('#recherche div.modal-header #myModalLabel').html(title + ' de ' + pseudo);

                        // Ajoute le bouton de validation
                        var footerContent = $('#recherche div.modal-footer').html();
                        $('#recherche div.modal-footer').html("<input class='btn btn-success' style='float:left' type='submit' value='" + btnText + "'>" + footerContent);

                        CarouselHorizontalSetting();

                        // calcul automatique du width du carousel
                        UpdateWidthForInLinePictures(488);

                        // enlève les évènements de suppression sur les images
                        $('#mycarousel tr').each(function () {
                            var obj = $(this).find('td');
                            // supprime le premier td qui contient le texte Supprimer
                            if (obj.html() == "<span class=\"text-info\">Supprimer</span>") { $(this).remove(); }
                            else {
                                $(this).unbind("click");
                                $(this).attr("onclick", "");
                            }
                        });
                        $('#mycarousel td').each(function () {
                            $(this).unbind("click");
                            $(this).attr("onclick", "");
                        });

                        // affiche la popup modal
                        $('#recherche').modal('show');
                    }
                    else { alert("Aucune photo disponible !"); }
                })
                .fail(function () {
                    alert("Une erreur est survenue lors de la récupération des photos !");
                });
            }
        });
    });
</script>
}