@model ConseilApp.Models.Recherche.RechercheModel
@using ConseilApp.Helpers
@{
    Layout = "~/Views/Shared/_master.cshtml";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    @Html.Partial("_ListStylePartial", new { ViewBag.Page })
</hgroup>
<div class="accordion" id="accDemandes">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accDemandes" href="#collapseOne">
                <h4>Les abonnées en attente de conseil</h4>
            </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner" id="dvAttente">
                @{Html.RenderPartial("_ListeEnAttente", Model);}
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accDemandes" href="#collapseTwo">
                <h4>Abonnés sollicitant votre aide</h4>
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner" id="dvSoutien">
                @{Html.RenderPartial("_ListeEnSoutien", Model);}
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hdIdentifier" value="" />
<input type="hidden" id="hdTitlePopup" value="" />

<div id="ModalContainer"></div>

@section Scripts {
    @Styles.Render("~/Content/SlideCss")
    @Scripts.Render("~/bundles/CarouselJs")

    <script type="text/javascript">
        $(function () {
            $('#ModalContainer').html('@Html.ModalShow("recherche", "Visualiser les photos habillées", "test", true)');
            
            // sauvegarde le titre de la popup :
            if ($('#hdTitlePopup').val() == "") { $('#hdTitlePopup').val($('#recherche div.modal-header #myModalLabel').html()); }

            $('tr.row-Modal').click(function (event) {
                $('#recherche').modal('hide');
                $('#recherche div.modal-body').html('');
                $('#recherche div.modal-header #myModalLabel').html('');
                $('#recherche div.modal-footer input.btn-success').remove();

                // récupère l'id de la personne, le pseudo et le texte pour le bouton de validation
                var id = $(this).attr('data-identifier');
                var pseudo = $(this).attr('data-pseudo');
                var btnText = $(this).parents('table').attr('data-validemessage') + pseudo;

                // il faut savoir si la ligne cliqué concerne des photos d'habillage ou de vêtement
                var isHabillage = $(this).hasClass("habillage");
                
                // Récupère le style en cours dans la page
                var styleId = '';
                if ('@ViewBag.RechercheStyleEncours' != '') {
                    console.log('@ViewBag.RechercheStyleEncours');
                    styleId = '@ViewBag.RechercheStyleEncours';
                }

                if (id != undefined) {
                    var datas = "\r\n";
                    $('#hdIdentifier').val(id);
                    var url = '';
                    if (isHabillage) {
                        url = '@Url.Action("AffichePhotosHabillage", "Upload")';
                        var jqxhr = $.ajax({
                            url: url,
                            cache: true,
                            type: 'GET',
                            data: { style: styleId, personne: id }
                        }) 
                        .success(function (data) { GestionModal($(this), data, btnText, pseudo); })
                        .fail(function () { alert("Une erreur est survenue lors de la récupération des photos !"); });
                    }
                    else {
                        url = '@Url.Action("AffichePhotosVetement", "Upload")';
                        console.log('tata');
                        var jqxhr = $.ajax({
                            url: url,
                            cache: true,
                            type: 'GET',
                            data: { style: styleId, vetement: 0, personne: id }
                        })
                        .success(function (data) { GestionModal($(this), data, btnText, pseudo); })
                        .fail(function () { alert("Une erreur est survenue lors de la récupération des photos !"); });
                    }
                }
            });

            function GestionModal($element, datas, btnText, pseudo){
                if (datas != "\r\n") {
                    // IMPORTANT : permet d'agrandir la popup
                    $('#recherche').css("width", "697px");
                    $('#recherche div.modal-body').html(datas);
                    
                    // Complète le titre de la popup
                    var title = $('#hdTitlePopup').val(); //$('#recherche div.modal-header #myModalLabel').html();
                    $('#recherche div.modal-header #myModalLabel').html(title + ' de ' + pseudo);

                    // Ajoute le bouton de validation
                    var footerContent = $('#recherche div.modal-footer').html();
                    $('#recherche div.modal-footer').html("<input class='btn btn-success' style='float:left' type='submit' value='" + btnText + "'>" + footerContent);
                    CarouselHorizontalSetting();

                    // calcul automatique du width du carousel
                    UpdateWidthForInLinePictures(488);

                    // enlève les évènements de suppression sur les images
                    $('#mycarousel tr').each(function () {
                        var obj = $element.find('td');

                        // supprime le premier td qui contient le texte Supprimer
                        if (obj.html() == "<span class=\"text-info\">Supprimer</span>") { $element.remove(); }
                        else {
                            $element.unbind("click");
                            $element.attr("onclick", "");
                        }
                    });

                    $('#mycarousel td').each(function () {
                        $element.unbind("click");
                        $element.attr("onclick", "");
                    });

                    // affiche la popup modal
                    $('#recherche').modal('show');
                }
                else { $('#recherche').modal('hide'); alert("Aucune photo disponible !"); }
            }
        });
    </script>
}