@model ConseilApp.Models.Recherche.RechercheModel
@using ConseilApp.Helpers
@{
    Layout = "~/Views/Shared/_master.cshtml";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    @Html.Partial("_ListStylePartial", new { ViewBag.Page })
</hgroup>

@section sidebar {
    <div id="Notifications" class="content-wrapper">
    </div>
}

<div class="accordion" id="accDemandes">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accDemandes" href="#collapseOne">
                <h4>Les abonnées en attente de conseil</h4>
            </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner" id="dvAttente">
                @{Html.RenderPartial("_ListeEnAttente", Model);}
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accDemandes" href="#collapseTwo">
                <h4>Abonnés sollicitant votre aide</h4>
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner" id="dvSoutien">
                @{Html.RenderPartial("_ListeEnSoutien", Model);}
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hdIdentifier" value="" />
<input type="hidden" id="hdTitlePopup" value="" />

<div id="ModalContainer"></div>

@section Scripts {
    @Styles.Render("~/Content/SlideCss")
    @Scripts.Render("~/bundles/CarouselJs")

    <script type="text/javascript">
    $(function () {
        $('#ModalContainer').html('@Html.ModalShow("recherche", "Visualiser les photos habillées", "test", true)');

        var div = $("div.accordion")[0];
        $.data(div, "urlRecherche", {
            urlHabillage: '@Url.Action("AffichePhotosHabillage", "Upload")',
            urlVetement: '@Url.Action("AffichePhotosVetement", "Upload")',
            urlAction: '@Url.Action("ActionAbonne","Recherche")',
            urlNotification: '@Url.Action("AfficheNotificationAbonne","Notification")',
            pageName: '@ViewBag.Page'
        });
        $.data(div, "styleEnCours", {
            styleId: '@ViewBag.RechercheStyleEncours'
        });
    });
    </script>

    @Scripts.Render("~/bundles/RechercheJs")
}