@model ConseilApp.Models.LocalPasswordModel

<p>
    Vous n'avez pas de mot de passe local pour ce site. Ajouter un mot de passe afin que vous puissiez vous connecter.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="form-horizontal">
        <legend>Renseignez votre mot de passe</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.NewPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>

        <div style="max-width:300px;margin-bottom:30px">
            <input type="submit" value="Sauvegarder votre mot de passe" class="btn btn-large btn-success btn-block" />
        </div>
    </fieldset>
}
